.feedcast-player{
  background-color: #132538 !important;
  height: 100% !important;
}
.fc-player{
  position: relative !important;
}
.fc-player,
.fc-player__wrapper,
.fc-player__time-range,
.fc-player__controls {
  width: 100% !important;
}
.fc-player__controls {
  height: auto !important;
  box-sizing: border-box !important;
  display: inline-block !important;
  padding: 10px !important;
}
.fc-player__time-range{
  display: inline-block !important;
  background-color: #2C3E50 !important;
}
.fc-player__time-range > .fc-player__time,
.fc-player__time-range > input
{
  display: inline-block !important;
  height: 40px !important;
  line-height: 3.5em !important;
  float: left !important;
  font-size: 13px !important;
}
.fc-player__slide {
  cursor: pointer !important;
  width: calc(100% - 170px) !important;
  margin-left: 10px !important;
  z-index:10 !important;
}
.fc-player__time {
  width: 150px !important;
  text-align: center !important;
  color: white !important;
}

.fc-player__buffered{
  height: 2px !important;
  position: absolute !important;
  left: 10px !important;
  background: #ccc !important;
  z-index: 1 !important;
  top: 19px !important;
}

.fc-player__played{
  height: 2px !important;
  position: absolute !important;
  left: 10px !important;
  background: #4285F4 !important;
  z-index: 2 !important;
  top: 19px !important;
}

.fc-player input[type=range] {
  -webkit-appearance: none !important;
  background: none !important;
}
.fc-player input[type=range]:focus {
  outline: none !important;
}
.fc-player input[type=range]::-webkit-slider-runnable-track {
  width: 100% !important;
  height: 2px !important;
  cursor: pointer !important;
  animate: 0.2s !important;
  box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  background: rgba(255,255,255,.4) !important;
  border-radius: 1px !important;
  border: 0px !important;
  z-index:10 !important;
}
.fc-player input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000 !important;
  border: 1px solid #4285F4 !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 5px !important;
  background: #4285F4 !important;
  cursor: pointer !important;
  -webkit-appearance: none !important;
  margin-top: -4.5px !important;
  z-index:10 !important;
}
.fc-player input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255,255,255,.4) !important;
}
.fc-player input[type=range]::-moz-range-track {
  width: 100% !important;
  height: 2px !important;
  cursor: pointer !important;
  animate: 0.2s !important;
  box-shadow: 0px 0px 0px #000000 !important;
  background: rgba(255,255,255,.4) !important;
  border-radius: 1px !important;
  border: 0px solid #000000 !important;
  z-index:10 !important;
}
.fc-player input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000 !important;
  border: 1px solid #4285F4 !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 5px !important;
  background: #4285F4 !important;
  cursor: pointer !important;
  z-index:10 !important;
}
.fc-player input[type=range]::-ms-track {
  width: 100% !important;
  height: 2px !important;
  cursor: pointer !important;
  animate: 0.2s !important;
  background: transparent !important;
  border-color: transparent !important;
  color: transparent !important;
  z-index:10 !important;
}
.fc-player input[type=range]::-ms-fill-lower {
  background: #E6DFDF !important;
  border: 0px solid #000000 !important;
  border-radius: 2px !important;
  box-shadow: 0px 0px 0px #000000 !important;
  z-index:10 !important;
}
.fc-player input[type=range]::-ms-fill-upper {
  background: #E6DFDF !important;
  border: 0px solid #000000 !important;
  border-radius: 2px !important;
  box-shadow: 0px 0px 0px #000000 !important;
  z-index:10 !important;
}
.fc-player input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000 !important;
  border: 1px solid #4285F4 !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 5px !important;
  background: #4285F4 !important;
  cursor: pointer !important;
  z-index:10 !important;
}
.fc-player input[type=range]:focus::-ms-fill-lower {
  background: #E6DFDF !important;
  z-index:10 !important;
}
.fc-player input[type=range]:focus::-ms-fill-upper {
  background: #E6DFDF !important;
  z-index:10 !important;
}

.fc-player__button-play,
.fc-player__button-pause,
.fc-player__backward,
.fc-player__forward,
.fc-player__speed button,
.fc-player__speed a
{
  background: #2C3E50 !important;
  color: white !important;
  cursor: pointer !important;
  margin: 5px !important;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: 0px !important;
  border: 0px !important;
}
.fc-player__backward,
.fc-player__forward{
  width: 35px !important;
  height: 35px !important;
}
.fc-player__tooltip{
  position: absolute !important;
  top: -15px !important;
  width: 50px !important;
  height: 25px !important;
  line-height: 25px !important;
  text-align: center !important;
  color: white !important;
  background: #000 !important;
  transform: translateX(-16px) !important;
  display: none
}
.fc-player__tooltip:after{
  content: ' ' !important;
  position: absolute !important;
  bottom: -10px !important;
  width: 1px !important;
  height: 1px !important;
  border: 5px solid transparent !important;
  border-top: 5px solid black !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.fc-player__volume {
  color: white !important;
  width: 80px !important;
  padding-left: 26px !important;
  padding-right: 10px !important;
  position: relative !important;
  float: right !important;
  height: 28px !important;
  background: #2C3E50 !important;
  margin-top: 14px !important;
  border-radius: 5px !important;
}
.fc-player__volume i {
  position: absolute !important;
  left: 9px !important;
  top: 5px !important;
}
.fc-player__volume-slider {
  width: 100% !important;
  height: 90% !important;
}
.fc-player__speed {
  float: right !important;
  margin: 7px 20px !important;
}
.fc-player__speed button,
.fc-player__speed a {
  width: 30px !important;
  height: 30px !important;
  display: inline-block !important;
  line-height: 30px !important;
  text-align: center !important;
}
.fc-player__speed button.active {
  background: rgba(255,255,255,.6) !important;
  color: #2C3E50 !important;
  font-weight: bolder !important;
}